.token.neutral {
  color: black;
}

.token.comment {
  color: #bcbcbc;
}

.token.string {
  color: #955d3a;
}

.token.ident {
  color: #35407a;
}

.token.operator {
  color: #9e3737;
}

.token.number {
  color: #276e2c;
}

.token.symbol {
  color: #2b586c;
}

.npm__react-simple-code-editor__textarea {
  caret-color: black;
}